<!DOCTYPE html>
<html lang="es">
  <head>
      <%- include('./partials/head') %>
  </head>
  <body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron"> 
      <h1 class="display-4">Proyecto final: tercer entrega</h1>
      <hr class="my-4">
      <p>Deberás entregar el avance de tu aplicación eCommerce Backend
        correspondiente a la tercera entrega de tu proyecto final.            
      </p>
    </div>
  </body>
  <footer>
      <%- include('./partials/footer') %>
  </footer>
</html>